<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Home</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <i class="fa-solid fa-house"></i>
          <a href="#">Seguí tu compra</a>
        </li>
        <li>
          <i class="fa-solid fa-download"></i>
          <a href="#">Servicio técnico</a>
        </li>
        <li>
          <i class="fa-solid fa-house"></i>
          <a href="#">Sucursales</a>
        </li>
        <li>
          <i class="fa-solid fa-download"></i>
          <a href="#">Venta telefónica</a>
        </li>
        <li>
          <i class="fa-solid fa-house"></i>
          <a href="#">Centro de ayuda</a>
        </li>
      </ul>

      <figure>
      <img src="/images/logo-1-header.PNG" alt="logo1">
      </figure>
    </nav>
    <div>

      <section>
        
        <figure>
          <img src="/images/logo-2-header.PNG" alt="logo2">
        </figure>

        <div>
          <i class="fa-solid fa-location-dot"></i>    
          <p>
            Estas en <a href="#">Capital Federal</a>
          </p>  
        </div>

      </section>

      <section>
        <form action="">
          <input type="text" placeholder="Buscar productos">
          <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </section>

      <section>
        <div>
          <i class="fa-regular fa-user"></i>
          <span>Mi cuenta</span>
        </div>
        <div>
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
      </section>

    </div>

    <nav>
      <ul>
        <li>
          <i class="fa-solid fa-bars"></i>
          <a href="#">Categorias</a>
        </li>
        <li><a href="#">Televisores</a></li>
        <li><a href="#">Celulares</a></li>
        <li><a href="#">Tienda Samsung</a></li>
      </ul>
    </nav>
  </header>
  
</body>
</html>