.header {
    /* background-color: red; */
}

/* NAVIGATION SECONDARY */
/* ******************** */
.header .navbar-secondary {
    background-color: #f1f1f1;
}

.header .navbar-secondary .list-container {
}

.header .navbar-secondary .list-container .list-item {text-align: center;width: 100px;}

.header .navbar-secondary .list-container .list-item .icon {
    color: #888888;
}

.header .navbar-secondary .list-container .list-item .link {
    font-weight: 200;
    color: #888888;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: underline;
    text-decoration-color: violet;
    text-shadow: 2px 2px 3px darkorchid;
    font-size: 1.5rem;
    white-space: nowrap;
    font-style: italic;
}

.paragraph {
    text-align: justify;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid;
    width: 50%;
    height: 49px;
}

/* .header .navbar-secondary .credit-img-container {}
.header .navbar-secondary .credit-img-container img {} */

/* SEARCH BAR AND MY ACCOUNT */
/* ************************* */
.header .search-bar-and-other {}

/* section location */
.header .search-bar-and-other .section-location {}

.header .search-bar-and-other .section-location .logo-img-container {}

.header .search-bar-and-other .section-location .logo-img-container img {}

.header .search-bar-and-other .section-location .location-container {}

.header .search-bar-and-other .section-location .location-container .icon {}

.header .search-bar-and-other .section-location .location-container .text {}

.header .search-bar-and-other .section-location .location-container .text .link {}


/* section search bar */
.header .searchbar-container {}

.header .searchbar-container .form {}

.header .searchbar-container .form .input-search {}

.header .searchbar-container .form .btn-search {}

.header .searchbar-container .form .btn-search .icon {}

/* section account-shopping-cart-container */
.header .account-shopping-cart-container {}

.header .account-shopping-cart-container .account-container {}

.header .account-shopping-cart-container .account-container .icon {}

.header .account-shopping-cart-container .account-container .text {}

.header .account-shopping-cart-container .shopping-cart-container {}

.header .account-shopping-cart-container .shopping-cart-container .icon {}


/* NAVIGATION PRIMARY */
/* ****************** */
.header .navbar-primary {}

.header .navbar-primary {}

.header .navbar-primary .list-container {}

.header .navbar-primary .list-container .list-item {}

.header .navbar-primary .list-container .list-item .icon {}

.header .navbar-primary .list-container .list-item .link {}